.b_searchboxSubmit {
	display: none;
}

.hp_sw_logo {
	display: none;
}

.hpcLogoWhite {
	display: none;
}

#sbox.sw_sform {
	display: none;
}
.sw_sform {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 1028px;
    _width: 690px;
    margin: 0;
    z-index: 9;
	display: none;
}
body .b_searchboxForm {
	display: none;
}
.b_searchboxForm {
	display: none;
}
.b_searchboxForm, #id_h .id_button, .id_avatar, .rwds_bep_head, .sw_pref {
	display: none;
}
.b_searchboxForm {
	display: none;
}
.b_searchboxForm {
	display: none;
}
#sbox .b_searchbox {
	display: none;
}
.b_searchbox {
	display: none;
}
.b_searchbox {
	display: none;
}
body .b_searchboxForm .b_searchboxSubmit {
	display: none;
}
.b_searchboxSubmit {
	display: none;
}

.cntLight .b_searchboxForm {
    border: 1px #999 solid;
}

.cntLight #sbox .b_searchbox {
	display: none;
}
body .b_searchbox {
	display: none;
}
.b_searchbox {
	display: none;
}
input {
    font: inherit;
    font-size: 100%;
}
user agent stylesheetinput[type="search" i] {
	display: none;
}
user agent stylesheetinput[type="search" i] {
	display: none;
}
user agent stylesheetinput {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}
user agent stylesheetinput, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

div.b_searchboxForm
.b_searchboxForm {
	display: none;
}
.b_searchboxForm {
	display: none;
}

html, body{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
}

